@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable;
}

html, body {
  @apply text-base-content;
  box-sizing: border-box;
}

.my-auth-container {
  background: radial-gradient(white, theme('colors.slate.300') 200%);
  [data-theme="dark"] & {
    background: radial-gradient(theme('colors.base-content / 0.15'), theme('colors.base-content' / 0.05) 200%); 
  }
}

@layer utilities {
  .auth-button {
    @apply !rounded-lg !px-2;
  }
  
  .table-row-error td {
    @apply !bg-red-300;
  }
  
  .table-row-error:hover td {
    @apply !bg-red-500;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

svg:focus {
  @apply !outline-none;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.stats,
.input {
  @apply border border-base-content/10;
}

.stats {
  @apply bg-base-100;
}

.page {
  @apply flex flex-col gap-4 md:gap-12 w-full p-4 md:p-0;
}

.window {
  @apply dark:md:bg-slate-400/10 backdrop-blur-xl rounded-lg outline-1 md:outline outline-white/10 flex flex-col gap-4 my-4 md:my-0 p-4;

  & > .header {
    @apply md:text-xl font-thin flex flex-row items-center gap-4;
  }
}

.window-header {
 @apply px-4 lg:px-0;
}

.disable-focus:focus {
  background-color: unset !important;
}