@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply text-base-content;


  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.my-auth-container {
  background: radial-gradient(white, theme('colors.slate.300') 200%);
  [data-theme="dark"] & {
    background: radial-gradient(theme('colors.base-content / 0.15'), theme('colors.base-content' / 0.05) 200%); 
  }
}

@layer utilities {
  .auth-button {
    @apply !rounded-lg !px-2;
  }
  
  .table-row-error td {
    @apply !bg-red-300;
  }
  
  .table-row-error:hover td {
    @apply !bg-red-500;
  }
}

svg:focus {
  @apply !outline-none;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.stats,
.input {
  @apply border border-base-content/10;
}

.stats {
  @apply bg-base-100;
}

.window {
  @apply w-full bg-base-100 border border-base-content/10 overflow-hidden md:rounded-2xl p-8 md:shadow-lg;
}

.window-header {
 @apply px-4 lg:px-0;
}