@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark){
  :root{
    --my-color: @apply bg-white;
  }
}

html {
  scrollbar-gutter: stable;
}

html, body {
  /* @apply dark:text-base-content; */
  box-sizing: border-box;
}

.my-auth-container {
  background: radial-gradient(white, theme('colors.slate.300') 200%);
  [data-theme="dark"] & {
    background: radial-gradient(theme('colors.base-content / 0.15'), theme('colors.base-content' / 0.05) 200%); 
  }
}

@layer utilities {
  .auth-button {
    @apply !rounded-lg !px-2;
  }
  
  .table-row-error td {
    @apply !bg-red-300;
  }
  
  .table-row-error:hover td {
    @apply !bg-red-500;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

svg:focus {
  @apply !outline-none;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* .stats,
.input {
  @apply border border-base-content/10;
} */

/* .stats {
  @apply bg-base-100;
} */

.page {
  @apply flex flex-col gap-4 md:gap-12 w-full p-4;
}

.window {
  @apply bg-base-100 text-base-content rounded-box ring-1 ring-base-content/25 flex flex-col gap-4 my-4 md:my-0 shadow;

  & > .window-header {
    @apply md:text-xl flex flex-row items-center gap-4 relative p-4 pb-0;

    & svg {
      @apply h-6 w-6 stroke-2;
    }

    &::after {
      @apply content-[''] absolute left-0 right-0 h-[1px] bg-base-content/25 -bottom-4;
    }
  }

  & > .window-footer {
    @apply md:text-xl flex flex-row items-center gap-4 relative p-4 pt-0;

    &::before {
      @apply content-[''] absolute left-0 right-0 h-[1px] bg-base-content/25 -top-4;
    }
  }

  & > .window-content {
    @apply p-4;
  }
}

.disable-focus:focus {
  background-color: unset !important;
}